<launch>
  <arg name="INPUT" default="/camera_remote/depth_registered/points" />
  <node pkg="jsk_pcl_ros" type="attention_clipper" name="attention_clipper">
    <param name="use_multiple_attention" value="true"/>
    <remap from="~input/points" to="$(arg INPUT)" />
  </node>
  <node pkg="openrave_test" type="boundingbox_publisher.py" name="boundingbox_publisher" />
</launch>