<launch>
  <include file="$(find openrave_test)/kinfu.launch">
    <arg name="INPUT" value="camera_remote/depth_registered/hw_registered/image_rect_raw" />
    <arg name="INFO" value="camera_remote/depth/camera_info "/>
    <arg name="POINTS" value="/camera_remote/depth_registered/points" />
  </include>
  <include file="$(find openrave_test)/boundingbox_filter.launch" />
</launch>